<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>2DRakun</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/css/default.css" rel="stylesheet" />
    <link href="~/Content/css/media-queries.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="mb-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">2DRakun</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "Home")">Prijava</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Register", "Home")">Registracija</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Profile", "Home")">Račun</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer class="text-center text-muted py-4 mt-5 border-top">
        &copy; @DateTime.Now.Year 2DRakun. Sva prava pridržana.
    </footer>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>


